div.app {

    fieldset {
        font-size: 1em;
        padding: 0.5em;
        border-radius: 1em;
        font-family: sans-serif;
        border-width: 0;
    }

    input {
        font-size: inherit;
        padding: 0.3em 0.4em;
        margin: 0.1em 0.2em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid #007FFF; //120A8F
        background-color: #fff;
    }

    input[type="text"] {
        margin-right: 0;
        border-radius: 0.6em 0 0 0.6em;
        width: 70%
    }
    input[type="text"]:focus {
        outline: none;
        background-color: #FFF;
        background-color: rgba(255,255,210,0.5);
    }
    input[type="submit"] {
        margin-left: 0;
        margin-right: 0;
    //     border-radius: 0 0.6em 0.6em 0;
        background-color: #FFF;
    }
    input[type="submit"]:active,
    input[type="submit"]:focus {
        background-color: #FFF;
        outline: none;
    }

    input[type="button"] {
        margin-left: 0;
//         border-radius: 0 0.6em 0.6em 0;
        background-color: #FFF;
    }
    input[type="button"]:active,
    input[type="button"]:focus {
        background-color: #FFF;
        outline: none;
    }

    ul {
      text-align: left;
      padding: 5 em;
    }

    ul li {
      padding: 5 em;
      margin-left: 5 em;
      list-style-type: none;
    }

}