// * {
//   font-family: sans-serif;
//   margin: 0;
// }
//
// body {
//   margin: 0;
//   padding: 0;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
//


div.login {

    width: 30%;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    font-family: sans-serif;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    .login-h1 {
        font-weight: 100;
        font-size: 1.8em;
        font-weight: 100;
        text-align: center;
        font-family: sans-serif;
        margin-bottom: 30px;
    }

    .text-input {
        width:100%;
        margin-bottom: 10px;
        font-size: 0.85em;
        font-weight: 100;
        border-radius: 0.6em 0.6em 0.6em 0.6em;
        padding: 10px 20px;
    }

    .submit {
        background-color: royalblue;
        border: none;
        font-weight: 100;
        font-size: 1em;
        color: white;
        padding: 10px 30px;
        cursor: pointer;
    }

    input, textarea, button, button:focus {
        outline: none;
        box-shadow:none;
        padding: 0.3em 0.4em;
        margin: 0.1em 0.2em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid #007FFF; //120A8F
    }

}

div.App {

    fieldset {
        font-size: 1em;
        padding: 0.5em;
        border-radius: 1em;
        font-family: sans-serif;
        border-width: 0;
    }

    input {
        font-size: inherit;
        padding: 0.3em 0.4em;
        margin: 0.1em 0.2em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid #007FFF; //120A8F
        background-color: #fff;
    }

    input[type="text"] {
        margin-right: 0;
        border-radius: 0.6em 0 0 0.6em;
        width: 70%
    }
    input[type="text"]:focus {
        outline: none;
        background-color: #FFF;
        background-color: rgba(255,255,210,0.5);
    }
    input[type="submit"] {
        margin-left: 0;
        margin-right: 0;
    //     border-radius: 0 0.6em 0.6em 0;
        background-color: #FFF;
    }
    input[type="submit"]:active,
    input[type="submit"]:focus {
        background-color: #FFF;
        outline: none;
    }

    input[type="button"] {
        margin-left: 0;
        border-radius: 0 0.6em 0.6em 0;
        background-color: #FFF;
    }
    input[type="button"]:active,
    input[type="button"]:focus {
        background-color: #FFF;
        outline: none;
    }

    ul {
      text-align: left;
      padding: 5 em;
    }

    ul li {
      padding: 5 em;
      margin-left: 5 em;
      list-style-type: none;
    }

}
//
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

object {
  position: absolute;
  right:  100px;
  width:  500px;
  height: 600px;
  border: 5px solid green;
}


@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css)
